body {
    background: #fff;
}
html, body{
    height: 100%;
}
.game, .upgrades{
    background: #6BBFA7;
}
/* ===== Background Responsivines ===== */
@media screen and (max-width: 2500px) {
    .game{
        height: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 992px) {
    .game{
        height: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .game{
        height: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    .game{
        height: 100%;
        width: 100%;
    }
}
/* ===== Background Responsivines ===== */

/* ===== Text Responsivines ===== */
@media screen and (max-width: 2500px) {
    .p {
        float: left;
        color: #D96A6A;
        font-size: 48px;
        font-weight: 500;
    }
}
@media screen and (max-width: 992px) {
    .p {
        float: left;
        color: #D96A6A;
        font-size: 40px;
        font-weight: 500;
    }
}
@media screen and (max-width: 768px) {
    .p {
        float: left;
        color: #D96A6A;
        font-size: 32px;
        font-weight: 500;
    }
}
@media screen and (max-width: 576px) {
    .p {
        float: left;
        color: #D96A6A;
        font-size: 24px;
        font-weight: 500;
    }
}
/* ===== Text Responsivines ===== */

/* ===== Buttons Styling ===== */
.my-btn {
    border: 2px solid #D96A6A;
    background: none;
    padding: 8px 15px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.btn1{
    color: #D96A6A;
}
.btn1:hover {
    color: #fff;
}
.my-btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #D96A6A;
    z-index: -1;
    transition: 0.8s;
}
.btn1::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn1:hover::before {
    height: 180%;
}
/* ===== Buttons Styling ===== */

/* ===== Buttons Responsivines ===== */
@media screen and (max-width: 992px) {
    .my-btn {
        border: 2px solid #D96A6A;
        padding: 7px 13px;
        font-size: 13px;
        font-weight: 600;
        margin: 9px;
    }
}
@media screen and (max-width: 768px) {
    .my-btn {
        border: 2px solid #D96A6A;
        padding: 6px 11px;
        font-size: 12px;
        font-weight: 600;
        margin: 8px;
    }
}
@media screen and (max-width: 576px) {
    .my-btn {
        border: 2px solid #D96A6A;
        padding: 5px 10px;
        font-size: 10px;
        font-weight: 600;
        margin: 6px;
    }
}
/* ===== Buttons Responsivines ===== */

.game-btn {
    border: 3px solid #D96A6A;
    color: #D96A6A;
    background: none;
    padding: 8px 15px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.points {
    float: left;
    color: #D96A6A;
    font-size: 30px;
    font-weight: 500;
    height: 800px;
}

.upgrade {
    float: left;
    color: #D96A6A;
    font-size: 25px;
    font-weight: 500;
    height: 800px;
}
