* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
section {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	scroll-snap-align: center;
}
section h1 {
	font-size: 4rem;
}
section p {
	font-size: 1.5rem;
	width: 60%;
}
a {
	text-decoration: none;
	color: white;
}
ul a {
    display: block;
    letter-spacing: 0.5rem;
    opacity: 0;
}
ul a:hover {
    background: white;
    color: black;
}
.logo {
    opacity: 0;
	margin-left: 0;
	margin-top: 5%;
    font-size: 1.5rem;
	display: block;
	position: fixed;
}
.menu {
	padding-top: 20%;
	font-size: 1.5rem;
	float: left;
	margin-left: 0%;
	text-transform: uppercase;
	list-style: none;
	display: block;
	position: fixed;
}
.shadow {
    text-shadow: 5px 5px 10px black;
}
.small {
    color: rgb(173, 173, 173);
    font-size: 1.6rem;
}
.title {
	font-size: 5rem;
	border-bottom: 2px solid white;
	font-weight: normal;
    letter-spacing: 0.3rem;
    opacity: 0;
}
.sub {
	font-size: 3.5rem;
	font-weight: lighter;
    letter-spacing: 0.3rem;
    opacity: 0;
}
.content {
    overflow: auto;
    position: relative;
}
.content:before {
    content: "";
    position: fixed;
    top: -5%;
    left: -5%;
    z-index: -1;
  
    display: block;
    background-image: url(https://images.unsplash.com/photo-1454789548928-9efd52dc4031?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80);
    background-size:cover;
    width: 110%;
    height: 110%;
  
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
[data-scroll] {
    transition: all 1.5s;
  }
  [data-scroll="in"] {
    opacity: 1;
  }
  [data-scroll="out"] {
    opacity: 0;
  }
